# Node & App
TZ=Asia/Jakarta
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

# JWT & Google Client ID
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your-google-client-id

GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./config/google-service-account.json

# Email Verifikasi 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_gmail_address_here
SMTP_PASSWORD=your_gmail_app_password_here
SMTP_SECURE=false

MAIL_FROM_ADDRESS=your_gmail_address_here
MAIL_FROM_NAME=Smart RT 003

# DATABASE POSTGRESQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_db_password_here
DB_DATABASE=your_database_name_here

# Frontend URL
FRONTEND_URL=http://localhost:5173/ProjectKuliah-API
GOOGLE_CLIENT_SECRET=placeholder